* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Navbar Design  */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  align-items: center;
}

.navlinks {
  display: flex;
  gap: 32px;
}
ul li {
  list-style: none;
}
li a {
  color: #000000;
  text-decoration: none;
}
li a:hover {
  color: rgb(87, 85, 82);
}

.btn-1 {
  padding: 10px;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  background: #469165;
  color: #ffffff;
  font-size: 16px;
  border: none;
}
.btn-1:hover {
  background-color: #31a563;
  color: antiquewhite;
  cursor: pointer;
}

/* Section Design */

.section-1 {
  height: 674px;
  background-image: url("/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.early {
  background: #ffffff;
  color: #31a563;
  padding: 8px 32px;
  border-radius: 50px;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-mid {
  position: relative;
  height: 100%;
  max-width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-style: bold;
}
.first-span {
  color: #31a563;
}
.button-setup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  margin-top: 10px;
}
.button-2 {
  display: flex;
  gap: 10px;
  background-color: #31a563;
  padding: 16.5px;
  border-radius: 10px;
  cursor: pointer;
}
.button-2:hover {
  background: #409c68;
  color: bisque;
}
.button-3 {
  display: flex;
  gap: 10px;
  border: 1px solid white;
  padding: 16.5px;
  cursor: pointer;
  border-radius: 10px;
}
.button-3:hover {
  background: #676e6a;
  color: rgb(236, 235, 234);
}

/* Card Sections  */