* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Navbar Design  */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  align-items: center;
}

.navlinks {
  display: flex;
  gap: 32px;
}
ul li {
  list-style: none;
}
li a {
  color: #000000;
  text-decoration: none;
}
li a:hover {
  color: rgb(87, 85, 82);
}

.btn-1 {
  padding: 15px;
  border-radius: 5px;
  background: #469165;
  color: #ffffff;
  font-size: 16px;
  border: none;
}
.btn-1:hover {
  background-color: #31a563;
  color: antiquewhite;
  cursor: pointer;
}

/* Section Design */

.section-1 {
  height: 674px;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.early {
  background: #ffffff;
  color: #31a563;
  padding: 8px 32px;
  border-radius: 50px;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 20px;
}
.middle-p {
  line-height: 30px;
}
.section-mid {
  position: relative;
  height: 100%;
  max-width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-style: bold;
}
.first-span {
  color: #31a563;
}
.button-setup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  margin-top: 10px;
}
.button-2 {
  display: flex;
  gap: 10px;
  background-color: #31a563;
  justify-content: center;
  align-items: center;
  padding: 16.5px;
  border-radius: 10px;
  cursor: pointer;
}

.button-2:hover {
  background: #409c68;
  color: bisque;
}
.button-3 {
  display: flex;
  gap: 10px;
  border: 1px solid white;
  padding: 16px;
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.button-3:hover {
  background: #676e6a;
  color: rgb(236, 235, 234);
}

/* Card Sections  */
.card {
  display: flex;
  gap: 20px;
  justify-content: center;
  box-shadow: #676e6a;
  padding: 120px;
}
.section-title {
  text-align: center;
  padding-top: 40px;
  color: #001931;
  font-size: 43px;
}
.section-description {
  font-size: small;
}

.feature-card {
  background-color: #fff;
  width: 320px;
  height: 32;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(37, 37, 37, 0.2);
  border-radius: 10px;
}

.feature-icon {
  background-color: #f95555;
  padding: 10px;
  border-radius: 50%;
}

.feature-card h3 {
  padding-top: 10px;
  font-size: 24px;
  width: 300px;
}
.feature-card {
  width: auto;
  margin-top: 16px;
}

/* knowledge Section */

.knowledge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 120px;
}

.knowledge-subtitle {
  color: #469165;
  font-size: 16px;
}

.knowledge-title {
  font-size: 48px;
  padding-top: 16px;
  color: #001931;
}
.knowledge-description {
  color: #627382;
  padding-top: 16px;
}

.knowledge-item {
  padding-top: 40px;
  display: flex;
  gap: 5px;
  align-items: center;
  line-height: 16px;
}

.clg-container {
  text-align: center;
  font: bold;
}

.clg-title {
  color: #001931;
  font-size: 40px;
}
.clg-description {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #627382;
}

.clg-container {
  background-color: #f7f6f2;
  padding: 80px;
  margin: 120px ;
  border-radius: 10px;
}

.clg-buttons {
  display: flex;
  justify-content: center;
  background-color: #31a563;
  padding: 10px;
}

.clg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  margin-top: 10px;
}
.clg-buttons {
  display: flex;
  gap: 10px;
  background-color: #31a563;
  justify-content: center;
  align-items: center;
  padding: 16.5px;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
}

.clg-buttons:hover {
  background: #409c68;
  color: bisque;
}
.clg-last-tittle{
  color: #627382;
  padding-top: 16px;
}
